body {
    background: #ff69b4;
    /* Color rosa */
    color: whitesmoke;
}

.navbar {
    background: #404040;
    padding: 5px 10px;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover {
    color: aquamarine;
}

.container {
    max-width: 1200px;
    background: red;
    margin: auto;
}